{% include 'head.liquid' %}
<header>
		<sl-avatar shape="rounded" label="Circle avatar" image="../../{{originalHeadshotURL}}" id="largeAvatar"></sl-avatar>
		<div class="headerCopy">
		<h1>{{ title }}</h1>
			<div class="titleEmployer">
				<p class="title">{{ currentTitle }} — {{ currentOrg }}</p>
			</div>
			{% include 'profile_contactAndResumeLinks.liquid' %}
		</div>
</header>
<div class="bioContainer">

	<p>{{ bio }}</p>

	{% include 'profile_currentBoardsLoop.liquid' %}
	{% include 'profile_pastBoardsLoop.liquid' %}

	<div class="printOnly">
	{% include 'profile_print_contactAndResumeLinks.liquid' %}
	{% include 'profile_print_printTags.liquid' %}
	</div>

	<sl-details summary="Details">
	{% include 'profile_printTags.liquid' %}
	</sl-details>

	<div class="printOnly">
		<p class="noCap" id="credit"><em>Profile hosted on womenlead.io, a directory of diverse talent for board service from The Chicago Network.</em></p>
	</div>

</div>

<sl-button class="printButton" type="button" variant="default" size="medium" onclick="window.print()">
	<sl-icon slot="prefix" name="printer"></sl-icon>
	Print this Profile
</sl-button>

<sl-button
	class="printButton"
	type="button"
	variant="default"
	size="medium"
	href=" mailto:?subject=Potential%20candidate%20for%20board%20service&body=I%20thought%20you%20might%20be%20interested%20in%20{{ first }}%20{{ last }}'s%20profile%3B%20here's%20a%20link%3A%20https%3A//womenlead.io/profiles/{{id}}%0D%0A---------------------------------%0D%0AShared%20via%20womenlead.io "
>
	<sl-icon slot="prefix" name="envelope-at"></sl-icon>
	Email this Profile
</sl-button>

{% include 'foot.liquid' %}
