{% include 'head.liquid' %}
<header>
		<sl-avatar shape="rounded" label="Circle avatar" image="../../{{originalHeadshotURL}}" id="largeAvatar"></sl-avatar>
		<div class="headerCopy">
		<h1>{{ title }}</h1>
			<div class="titleEmployer">
				<p class="title">{{ currentTitle }} — {{ currentOrg }}</p>
			</div>
			{% include 'profile_contactAndResumeLinks.liquid' %}
		</div>
</header>

<div class="bioContainer">

<p>{{ bio }}</p>

{% include 'profile_currentBoardsLoop.liquid' %}
{% include 'profile_pastBoardsLoop.liquid' %}

<sl-details summary="Details">
{% include 'profile_printTags.liquid' %}
</sl-details>

</div>

{% include 'foot.liquid' %}
